<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <a class="navbar-brand text-success logo h1 align-self-center" href="index">
      PTT SHOP
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="navbar align-self-center d-flex">
        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="inputMobileSearch"
              placeholder="Search ..."
            />
            <div class="input-group-text">
              <i class="fa fa-fw fa-search"></i>
            </div>
          </div>
        </div>
        <a
          class="nav-icon d-none d-lg-inline"
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#templatemo_search"
        >
          <i class="fa fa-fw fa-search text-dark mr-2"></i>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
          <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
          <span
            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
          >7</span>
        </a>
        <a class="nav-icon position-relative text-decoration-none" href="#">
          <i class="fa fa-fw fa-user text-dark mr-3"></i>
          <span
            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
          >+99</span>
        </a>
      </div>
    </div>

  </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div
  class="modal fade bg-white"
  id="templatemo_search"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="w-100 pt-1 mb-5 text-right">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
      <div class="input-group mb-2">
        <input
          type="text"
          class="form-control"
          id="inputModalSearch"
          name="q"
          placeholder="Search ..."
        />
        <button type="submit" class="input-group-text bg-success text-light">
          <i class="fa fa-fw fa-search text-white"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Table Begin -->
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-5 my-3">
            <h2><b>User Management</b></h2>
          </div>
          <div class="col-xs-6">
            <a href="#" class="btn btn-primary"><span>Add New User</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href="#"><b>Nguyễn Văn A</b></a></td>
            <td>04/10/2019</td>
            <td>Admin</td>
            <td><span class="status text-success"><i
                  class="fa fa-circle"
                ></i></span>
              Active</td>
            <td>
              <a
                href="#"
                class="settings"
                title="Settings"
                data-toggle="tooltip"
              ><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <span class="status text-danger mx-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="#"><b>Trần Văn B</b></a></td>
            <td>05/08/2020</td>
            <td>Admin</td>
            <td><span class="status text-success"><i
                  class="fa fa-circle"
                ></i></span>
              Active</td>
            <td>
              <a
                href="#"
                class="settings"
                title="Settings"
                data-toggle="tooltip"
              ><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <span class="status text-danger mx-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="#"><b>Huỳnh Trọng Phúc</b></a></td>
            <td>11/05/2021</td>
            <td>Customer</td>
            <td><span class="status text-danger"><i
                  class="fa fa-circle"
                ></i></span>
              Suspended</td>
            <td>
              <a
                href="#"
                class="settings"
                title="Settings"
                data-toggle="tooltip"
              ><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <span class="status text-danger mx-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="#"><b>Đặng Tú Thiệu</b></a></td>
            <td>06/09/2020</td>
            <td>Customer</td>
            <td><span class="status text-success"><i
                  class="fa fa-circle"
                ></i></span>
              Active</td>
            <td>
              <a
                href="#"
                class="settings"
                title="Settings"
                data-toggle="tooltip"
              ><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <span class="status text-danger mx-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="#"><b>Lương Trường Thịnh</b></a></td>
            <td>12/01/2022</td>
            <td>Customer</td>
            <td><span class="status text-warning"><i
                  class="fa fa-circle"
                ></i></span>
              Inactive</td>
            <td>
              <a
                href="#"
                class="settings"
                title="Settings"
                data-toggle="tooltip"
              ><i class="fa fa-cog" aria-hidden="true"></i></a>
              <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                <span class="status text-danger mx-2">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div>Showing <b>5</b> out of <b>25</b> entries</div>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item active"><a
                  class="page-link"
                  href="#"
                >3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->